body {

    background: url("../img/background.jpg") no-repeat;
    max-height: 768px;
    max-width: 1366px;
    margin: 0 auto;
}

.logo-holder {
    display: flex;
    justify-content: space-between;
    margin: 51px 0 0 161px;
}

.logo-link {
    display: flex;
}

.logo-subtitle {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;

}

a {
    text-decoration: none;
}

.logo-slogan {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

}

.logo-img2 {
    display: none;
}

a:hover .logo-img1 {
    display: none;
}

a:hover .logo-img2 {
    display: block;
}

a:hover h1,
a:hover .logo-subtitle,
a:hover .logo-slogan,
a:hover .title-pic,
a:hover {
    color: #F26522;
}

.aside {
    margin-right: 165px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-end;
}

.milano {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.mobile {
    margin-top: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.design-picture {
    position: absolute;
    width: 1028px;
    height: 61px;
    top: 124px;
    left: 159px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 60px;
    align-self: center;

}

.design-picture-item {
    text-decoration: none;
    margin-bottom: 20px;



}

.img-item {

    box-sizing: border-box;
    width: 300px;
    height: 220px;
}


.picture-price {

    position: absolute;
    display: flex;
    justify-content: space-between;
    /* position: absolute;
  box-sizing: border-box; */
    width: 300px;
    height: 55px;
    /* top: 165px;
    padding: 7px 14px 12px 16px; */

    opacity: 0;
    margin-top: -58px;
    background: #F26522;
    z-index: 1px;
}

.design-picture-item:hover .picture-price {

    opacity: 1;
    transition: 2s;

}

.descript {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    /* align-self:center ; */
    padding-left: 20px;
    justify-content: space-around;
    color: #FFFFFF;
}

.descript-bt {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

}

.view-itn {
    align-self: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    padding-right: 20px;
    color: #FFFFFF;


}

.view-itn-dt::after {
    content: url("../img/Vector 1.svg");
    margin-left: 16px;
}


.title-pic {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    width: 300px;
    text-align: center;

    color: #FFFFFF;
}

.page-bt {
    position: absolute;
    width: 380px;
    height: 21px;
    left: 530px;
    top: 732px;
    margin-right: 100px;

    color: #FFFFFF;
}